@font-face {
    font-family: Inder;
    src: url(../../fonts/Inder-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: url(../../fonts/Lora-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: RobotoMono;
    src: url(../../fonts/RobotoMono-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: RobotoMonoItalic;
    src: url(../../fonts/RobotoMono-Italic-VariableFont_wght.ttf);
    font-display: swap;
}



